<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordMashup</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/pagestyle.css">
    <link rel="stylesheet" href="/styles/wordstyle.css">


</head>

<body>


    <header>
        <button class="hamburger" id="hamburgerMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="header-left">
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="WordMashup Logo">
            </a>
        </div>

        <nav class="header-center" id="navMenu">
            <ul>
                <li><a href="/words">Words</a></li>
                <li><a href="/dictionary">Dictionary</a></li>
                <li><a href="/cardquiz">Card Quiz</a></li>
            </ul>
        </nav>

        <div class="header-right">
            <% if (user) { %>
                <div class="user-box">
                    <i class="fa-solid fa-user" id="userIcon"></i>
                    <div class="user-dropdown" id="userDropdown">
                        <p class="username">
                            <%= user.username %>
                        </p>
                        <p class="created">
                            Oluşturma Tarihi:
                            <%= user && user.createdDate ? new Date(user.createdDate).toLocaleDateString("tr-TR") : "-"
                                %>
                        </p>

                        <form action="/logout" method="POST">
                            <button type="submit" class="logout-btn">Çıkış Yap</button>
                        </form>
                    </div>
                </div>
                <% } else { %>
                    <a href="/login" class="login-btn">Giriş Yap</a>
                    <% } %>
        </div>
    </header>

    <section class="container">

        <!-- Kelime ekleme  -->
        <div class="word-add-content">
            <h2>Kelime Ekle</h2>

            <form action="/words" method="POST"> <!-- kelime ekleme formu-->
                <label for="word">Kelime Adı</label>
                <input type="text" id="word" name="word" class="form-input">

                <label for="meaning">Kelime Anlamı</label>
                <input type="text" id="meaning" name="meaning" class="form-input">

                <label for="note">Not (Opsiyonel)</label>
                <textarea id="note" name="note" class="form-textarea"></textarea>

                <button type="submit" class="word-add-btn">Ekle</button>
            </form>

        </div>

        <!-- Eklenen kelimeler -->
        <div class="word-list-content"> <!-- eklenen kelimeler ilk form-->

            <h2>Eklenen Kelimeler</h2>

            <div class="placeholder">
                <% if (dailyWords && dailyWords.length> 0) { %>
                    <ul id="daily-words-list">
                        <% dailyWords.forEach(i=> { %>
                            <div class="words">
                                <li>
                                    <div class="word-info">
                                        <p>
                                            <%= i.word %> - <%= i.meaning %>
                                        </p>
                                        <div class="word-actions">
                                            <form action="/words/toggleFavorite/<%= i.wordId %>" method="POST"
                                                class="favorite-form">
                                                <button type="submit" class="favorite-btn">
                                                    <i class="<%= i.isfavorite ? 'fas fa-star' : 'far fa-star' %>"></i>
                                                </button>
                                            </form>
                                            <form action="/words/deleteWord/<%= i.wordId %>" method="POST"
                                                class="delete-form">
                                                <button type="submit" class="delete-btn"> <i
                                                        class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <% if (i.wordnotes) { %>
                                        <p class="note">
                                            <%= i.wordnotes %>
                                        </p>
                                        <% } %>
                                </li>
                            </div>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <p>Henüz kelime eklenmedi.</p>
                        <% } %>
            </div>
        </div>
    </section>


    <section class="word-management-section">
        <div class="wordlist-container">
            <div class="wordheadermenu">
                <div class="word-header-left">
                    <button id="all-words-btn" class="allwords-btn active" data-filter="all">Tüm kelimeler</button>
                    <button id="favorite-words-btn" class="favoritewords-btn" data-filter="favorites">Favori
                        kelimeler</button>
                </div>
                <div class="word-header-center">
                    <input type="date" class="date-picker">
                </div>
                <div class="word-header-right">
                    <input type="text" class="search-word-input" placeholder="Kelime ara...">
                    <button class="search-btn">Ara</button>
                </div>
            </div>
            <div class="kelimelist">
                <% if (allWords && allWords.length> 0) { %>
                    <ul id="all-words-list">
                        <% allWords.forEach(i=> { %>
                            <div class="words" data-is-favorite="<%= i.isfavorite %>"
                                data-created-date="<%= i.wordcreateddate.toISOString().split('T')[0] %>">
                                <li>
                                    <div class="word-info">
                                        <p>
                                            <%= i.word %> - <%= i.meaning %>
                                        </p>
                                        <div class="word-actions">
                                            <form action="/words/toggleFavorite/<%= i.wordId %>" method="POST"
                                                class="favorite-form">
                                                <button type="submit" class="favorite-btn">
                                                    <i class="<%= i.isfavorite ? 'fas fa-star' : 'far fa-star' %>"></i>
                                                </button>
                                            </form>
                                            <form action="/words/deleteWord/<%= i.wordId %>" method="POST"
                                                class="delete-form">
                                                <button type="submit" class="delete-btn"> <i
                                                        class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <% if (i.wordnotes) { %>
                                        <p class="note">
                                            <%= i.wordnotes %>
                                        </p>
                                        <% } %>
                                </li>
                            </div>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <p>Henüz kelime eklenmedi.</p>
                        <% } %>
            </div>
        </div>
    </section>

    <script src="/scripts/icon.js" defer></script>
    <script src="/scripts/word.js" defer></script>
</body>

</html>