<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words - Karikatür Temalı</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/header2.css">
    <link rel="stylesheet" href="/styles/wordstyle.css">


</head>

<body>


    <header>

        <div class="header-left">
            <a href="/" class="logo">
                <img src="/logo.png" alt="WordMashup Logo">
            </a>
        </div>


        <nav class="header-center">
            <ul>
                <li><a href="/words">Words</a></li>
                <li><a href="/card-quiz">Card Quiz</a></li>
                <li><a href="/dictionary">Dictionary</a></li>
            </ul>
        </nav>

        <div class="header-right">

            <button id="theme-toggle" aria-label="Toggle dark/light theme">
                <span class="icon"></span>
            </button>

            <div class="user-box">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>

    </header>

    <div class="text-container">
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
        <div class="shape shape4"></div>
    </div>

    <section class="container">
        <!-- Kelime ekleme  -->

        <div class="word-add-content">
            <h2>Kelime Ekle</h2>

            <form action="/words" method="POST">
                <label for="word">Kelime Adı</label>
                <input type="text" id="word" name="word" class="form-input">

                <label for="meaning">Kelime Anlamı</label>
                <input type="text" id="meaning" name="meaning" class="form-input">

                <label for="note">Not (Opsiyonel)</label>
                <textarea id="note" name="note" class="form-textarea"></textarea>

                <button type="submit" class="word-add-btn">Ekle</button>
            </form>

        </div>

        <!-- Eklenen kelimeler -->
        <div class="word-list-content">

            <h2>Eklenen Kelimeler</h2>
            <div class="placeholder">
                <% if (words && words.length> 0) { %>

                    <ul>
                        <% words.forEach(i=> { %>

                            <div class="words">
                                <li>
                                    <div class="word-info">
                                        <p>
                                            <%= i.word %> - <%= i.meaning %>
                                        </p>

                                        <form action="/words/deleteWord/<%= i.wordId %>" method="POST"
                                            class="delete-form">
                                            <button type="submit" class="delete-btn"> <i class="fa fa-trash">
                                                </i></button>
                                        </form>
                                    </div>

                                    <% if (i.wordnotes) { %>
                                        <p class="note">
                                            <%= i.wordnotes %>
                                        </p>
                                        <% } %>
                                </li>
                            </div>

                            <% }); %>
                    </ul>

                    <% } else { %>
                        <p>Henüz kelime eklenmedi. </p>
                        <% } %>
            </div>

        </div>

    </section>




    <section class="word-management-section">


        <div class="wordlist-container">

            <div class="wordheadermenu">
                <div class="word-header-left">
                    <button class="allwords-btn">Tüm kelimeler</button>
                    <button class="favoritewords-btn">Favori kelimeler</button>
                </div>

                <div class="word-header-center">
                    <input type="date" class="date-picker">
                </div>

                <div class="word-header-right">
                    <input type="text" class="search-word-input" placeholder="Kelime ara...">
                    <button class="search-btn">Ara</button>
                </div>
            </div>

            <div class="kelimelist">
                <% if (words && words.length> 0) { %>

                    <ul>
                        <% words.forEach(i=> { %>

                            <div class="words">
                                <li>
                                    <div class="word-info">
                                        <p>
                                            <%= i.word %> - <%= i.meaning %>
                                        </p>

                                        <form action="/words/deleteWord/<%= i.wordId %>" method="POST"
                                            class="delete-form">
                                            <button type="submit" class="delete-btn"> <i class="fa fa-trash">
                                                </i></button>
                                        </form>
                                    </div>

                                    <% if (i.wordnotes) { %>
                                        <p class="note">
                                            <%= i.wordnotes %>
                                        </p>
                                        <% } %>
                                </li>
                            </div>

                            <% }); %>
                    </ul>

                    <% } else { %>
                        <p>Henüz kelime eklenmedi. </p>
                        <% } %>
            </div>


        </div>

    </section>





    <script src="/scripts/word-management.js"></script>
</body>

</html>